<h3>Online</h3>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to 'Feeds', promote_path(my_garage) %></li>
  <li><%= link_to 'Redes Sociais', promote_social_networks_path(my_garage) %></li>
  <li><%= link_to 'Widgets', promote_widget_path(my_garage) %></li>
</ul>

<h3>Printing</h3>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to 'Take one', promote_takeone_path(my_garage) %></li>
  <li><%= link_to 'Business Cards', business_card_path(my_garage) %></li>
  <li><%= link_to 'Tag prices', tag_price_path(my_garage) %></li>
</ul>