<div class="row">

<section class="col-md-9">
  <h1>Products</h1>
  <% @products.each do |product| %>
    <%= render "shared/product_thumb", product: product %>
  <% end %>
</section>

<section class="col-md-3">
  
  <% if is_my_garage? @garage %>
  <h3> garage Statistics </h3>
  <%= render 'shared/brief_statistics' %>
  <hr>
  <% end %>

  <%= render 'shared/garage_profile' %>
  <%= render 'shared/social_garage' %>
  <%= render 'shared/impressions_garage' %>

  <p>
    <%= @garage.description %>
  </p>

  <hr>

  <h3>tags</h3>
  <% @garage.tags.each do |tag| %>
    <span class="label label-warning"><%= link_to tag, '#' %></span>
  <% end %>

  <hr>


</section>  
</div>

