<div class="row">
<section class="col-md-9">
  <h1>Products</h1>
  <% @products.each do |product| %>
    <%= render "shared/product_thumb", product: product %>
  <% end %>
</section>
<section class="col-md-3">
  
  <%= image_tag @garage.avatar, class: "img-thumbnail" %>
  <h1><%= @garage.name %></h1>
  <p>
    <span class="label label-info">
      <i class="glyphicon glyphicon-heart-empty"></i> 
      <%= @garage.likes.size %>
    </span>
    &nbsp;
    <% if current_user and !current_user.voted_for? @garage %>
    <%= link_to 'like', garage_like_path(@garage) %>
    <% elsif current_user and current_user.voted_for? @garage %>
    <%= link_to 'unlike', garage_unlike_path(@garage) %>
    <% else %>
    login to vote
    <% end %>
    </p>
    <p>
    <span class="label label-info">
      <i class="glyphicon glyphicon-eye-open"></i> 
      <%= @garage.impressionist_count(:filter=>:session_hash) %>
    </span>
  </p>
  <p>
    <%= @garage.description %>
  </p>

  <hr>

  <h2>promote</h2>

  <hr>

  <h2>tags</h2>
  <% @garage.tags.each do |tag| %>
    <span class="label label-warning"><%= link_to tag, '#' %></span>
  <% end %>

  <hr>


</section>  
</div>

