<ul class="nav nav-pills nav-stacked">
  <li><%= link_to "garage info", profile_path(my_garage) %></li>
  <li><%= link_to "produtos", garage_products_path(my_garage) %></li>
  <li><%= link_to "localization", localization_path(my_garage) %></li>
  <li><%= link_to 'user', edit_user_registration_path %></li>
  <li><%= link_to 'integrações', garage_integrations_path(my_garage) %></li>
  <li><%= link_to 'statistics', garage_statistics_path(my_garage) %></li>
</ul>