<ul class="list-inline" id="category-menu">
  <li><a href="#" id="<%= category.id %>" class="category-navigation"><%= category.name %></a></li>
  <% category.children.each do |child| %>
  <li><a href="#" id="<%= child.id %>" class="category-navigation"><%= child.name %></a></li>
  <% end %>
</ul>

<script type="text/javascript">

var category_navigation = function() {

  var list = [
    {id: <%= category.id %>, name: '<%= category.name %>'},
    <% category.children.each do |child| %>
    {id: <%= child.id %>, name: '<%= child.name %>'},
    <% end %>
  ];

  $(".category-navigation").click(click_navigation);

  function load_data(data) {
    console.log("loading")
    if (data.children.length == 0) return
     list = [{id: data.info.id, name: data.info.name}]
     $.each(data.children, function (idx, child) {
      list.push( {id: child.id, name: child.name} )
     });
  }

  function render_menu() {
    console.log("rendering")
    $("#category-menu").html("");
    $.each(list,function(idx, item) {
      $("#category-menu").append('<li><a href="#" id="' +item.id+ '" class="category-navigation">' +item.name+ '</a></li>')
    });
    $(".category-navigation").click(click_navigation);
  }

  function click_navigation(e) {
    e.preventDefault();
    var id = $(this).attr("id");
    console.log("finding for: "+id)
    $.get( "/category/"+id+'.json', function( data ) {
      console.log("response")
      load_data(data)
      render_menu()
    });
  }

}

$(document).ready(category_navigation);
$(document).on("page:load",category_navigation);

</script>