<div id="footer">
  <div class="container">
    Gsapp is a  <a href="http://mosma.co">MoSMA</a> product</p>
    <nav>
      <ul class="list-inline">
          <li><%= link_to 'home', root_url %></li>
          <li><%= link_to 'about', about_path %></li>
          <li><%= link_to 'terms', terms_path %></li>
          <li><%= link_to 'faq', faq_path %></li>
          <li><%= link_to 'contact', contact_path %></li>
        </ul>
    </nav>
  </div>
</div>