<div class="garage-thumb">
  <%= link_to garage_path(garage) do %>
  <div class="thumbnail">
    <style type="text/css" media="screen">
      .thumbnail .img<%= garage.id  %> {
        background-image: url(<%= garage.avatar  %>)
      }
    </style>
    <div class="img img<%= garage.id  %>"></div>
    <div class="caption">
      <h3>
        <%= truncate(garage.name, length: 20) %>
        <span class="label label-info"><%=garage.products.size%></span>
      </h3>
      <p><%= truncate(garage.description, length: 20) %></p>
    </div>
  </div>
  <% end %>
</div>