
<%= form_for(@product, url: @path) do |f| %> 
  <div class="col-md-6">

  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :slug %>
  <%= f.text_field :slug, class: "form-control" %>
</div>
<div class="form-group">
  <%= f.label :value %>
  <%= f.text_field :currency, class: "form-control"%>
  <%= f.number_field :value, class: "form-control", step: 'any', min: '0' %>
</div>
<div class="form-group">
  <%= f.label :tags %>
  <ul id="tagit-tags"></ul>
  <%= f.text_field :tags, class: "form-control", id: 'tags-field', value: @product.tags.join(',') %>
</div>
<div class="form-group">
  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control" %>  
</div>

  </div>
  <div class="col-md-6">
    <h1>Photos</h1>



 <%= fields_for Media.new, :html => { :multipart => true, :id => "fileupload"  } do |fi| %>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
      <div class="span7">
        <!-- The fileinput-button span is used to style the file input field as button -->
        <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>Add files...</span>
          <%= fi.file_field :image %>
        </span>
        <button type="submit" class="btn btn-primary start">
          <i class="icon-upload icon-white"></i>
          <span>Start upload</span>
        </button>
        <button type="reset" class="btn btn-warning cancel">
          <i class="icon-ban-circle icon-white"></i>
          <span>Cancel upload</span>
        </button>
        <button type="button" class="btn btn-danger delete">
          <i class="icon-trash icon-white"></i>
          <span>Delete</span>
        </button>
        <input type="checkbox" class="toggle">
      </div>
      <div class="span5">
        <!-- The global progress bar -->
        <div class="progress progress-success progress-striped active fade">
          <div class="bar" style="width:0%;"></div>
        </div>
      </div>
    </div>
    <!-- The loading indicator is shown during image processing -->
    <div class="fileupload-loading"></div>
    <br>
    <!-- The table listing the files available for upload/download -->
    <table class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody>
    </table>
  <% end %>




    <p>Add Photos & videos</p>
    <hr>
    <h1>Info/Help</h1>
    <p>Loren Ipsum</p>
  
  <div class="actions">
    <%= f.submit %>
  </div>  
  </div>
  <% end %>
  
