<div class="row">

<section class="col-md-9">
  <h2>Garage: <%= link_to @garage.name, @garage %></h2>
  <h1>Product: <%= @product.name %></h1>
  <%= render "shared/media_carousel", product: @product %>
  <p>
    Description: 
    <%= @product.description %>
  </p>
</section>

<section class="col-md-3">
  <% if is_my_garage? @garage %>
    <h3> garage Statistics </h3>
    <%= render 'shared/brief_statistics' %>
    <hr>
    <p>
      <%= link_to edit_product_path my_garage, @product do %>
        <span class="label label-info">
        <i class="glyphicon glyphicon-pencil"></i> edit
        </span>
      <% end %>
    </p>
    <hr>
  <% end %>

<h3>Social</h3>
 <%= render 'shared/social_product', product: @product %>
 <%= render 'shared/impressions_product', product: @product %>
 <hr>
 <h3>Mensagens</h3>
 <%= render 'shared/message_list', product: @product if is_my_garage? @garage %>
 <%= render 'shared/send_message', product: @product unless is_my_garage? @garage %>
  <hr>

  <h3>tags</h3>
  <% @product.tags.each do |tag| %>
    <span class="label label-warning"><%= link_to tag, '#' %></span>
  <% end %>

  <hr>

  <h3>See more from</h3>
  <%= render 'shared/garage_profile' %>
  <%= render 'shared/social_garage' %>
  <%= render 'shared/impressions_garage' %>

</section>
</div>

<% unless is_my_garage? @garage %>
<div class="row">
   <h1>Other products of <%= link_to @product.garage.name, @product.garage%></h1>
  <% @products.each do |product| %>
    <%= render "shared/product_thumb", product: product %>
  <% end %>
</div>
<% else %>
<div class="row">
  <h1>Messages</h1>
  <%= render 'shared/message_list', product: @product %>
</div>
<br>
<% end %>