<h1>Promote your garage</h1>
<div class="row">
  <section class="col-md-2">
    <h2>Online</h2>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to 'Feeds', '#'%></li>
  <li><%= link_to 'Redes Sociais', '#'%></li>
  <li><%= link_to 'Widgets', '#'%></li>
</ul>
    <h2>Printing</h2>
<ul class="nav nav-pills nav-stacked">
  <li><%= link_to 'Take one', '#'%></li>
  <li><%= link_to 'Business Cards', '#'%></li>
  <li><%= link_to 'Tag prices', '#'%></li>
</ul>
  </section>
  <section class="col-md-10">
    
  </section>
</div>