<!DOCTYPE html>
<html>
<head>
  <title>GSApp - Comprar e vender, fácil assim</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>
<body>
<div id="wrap">
  
  <%= render 'shared/header' %>

  <div class="container">
    <%= yield %>
  </div>
  <div id="push"></div>
</div>

<%= render 'shared/footer' %>

</body>
</html>
